<?xml version='1.0' encoding='UTF-8'?>
<?define Name='Stylus Block Input'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' xmlns:iis='http://schemas.microsoft.com/wix/IIsExtension'>
  <Product Id='*' Name='$(var.Name)' Language='1033' Version='1.0.0' Manufacturer='Johannes Garz' UpgradeCode='7176359a-76b5-4fc1-ac17-551cb6fd23ac'>
    <Package InstallerVersion='200' Compressed='yes' InstallScope='perMachine' InstallPrivileges='elevated' />

    <Media Id='1' Cabinet='StylusBlockInput.cab' EmbedCab='yes' />

    <MajorUpgrade DowngradeErrorMessage='A newer version of [ProductName] is already installed.' />

    <Feature Id='ProductFeature' Title='$(var.Name)' Level='1'>
      <ComponentGroupRef Id='ProductComponents' />
    </Feature>

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder'>
        <Directory Id='INSTALLDIR' Name='$(var.Name)' />
      </Directory>
    </Directory>

    <Binary Id='cert.cer' SourceFile='..\build\testcert.cer' />

    <ComponentGroup Id='ProductComponents' Directory='INSTALLDIR'>
      <Component Id='StylusBlockInput.exe' Guid='*'>
        <File Id='StylusBlockInput.exe' Source='..\build\stylus-block-input.exe' />
      </Component>

      <Component Id='cert.cer' Guid='8b9c1eff-6c91-4d2b-960a-9b0fda7d47cd'>
        <File Id='cert.cer' Source='..\build\testcert.cer' />
        <iis:Certificate Id='cert.cer' BinaryKey='cert.cer' Name='cert.cer' StoreLocation='localMachine' StoreName='root' />
      </Component>
    </ComponentGroup>

    <CustomAction Id='KillApp' Directory='INSTALLDIR' Execute='deferred' Impersonate='no' ExeCommand='cmd /c "taskkill /F /IM stylus-block-input.exe"' Return='ignore' />

    <CustomAction Id='UninstallTask' Directory='INSTALLDIR' Execute='deferred' Impersonate='no' ExeCommand='"[SystemFolder]schtasks.exe" /delete /f /tn "Stylus Block Input"' Return='ignore' />

    <CustomAction Id='InstallTask' Directory='INSTALLDIR' Execute='deferred' Impersonate='no' ExeCommand='cmd /c schtasks /create /tn "Stylus Block Input" /sc ONLOGON /rl HIGHEST /tr "[INSTALLDIR]stylus-block-input.exe" /it /ru "%username%"' />

    <CustomAction Id='StartApp' Directory='INSTALLDIR' Execute='deferred' Impersonate='no' ExeCommand='cmd /c start "" "[INSTALLDIR]stylus-block-input.exe"' Return='asyncNoWait' />

    <InstallExecuteSequence>
      <Custom Action='KillApp' After='InstallInitialize'>REMOVE="ALL"</Custom>
      <Custom Action='UninstallTask' After='InstallInitialize'>REMOVE="ALL"</Custom>
      <Custom Action='InstallTask' Before='InstallFinalize'>NOT Installed</Custom>
      <Custom Action='StartApp' Before='InstallFinalize'>NOT Installed</Custom>
    </InstallExecuteSequence>
  </Product>
</Wix>